<% unless @last_page.nil? %>
  <h1>The last page visited was <%= @last_page.title %></h1>
<% end %>

<section>
  <div class="row">
    <h1 class="large-10 small-12 columns">Your diary pages</h1>
    <%= link_to "Create a new page", new_page_path, class: "button large-2 small-12 columns" %>
  </div>
  <table class="hover">
    <% @pages.each do |page| %>
      <tr>
        <!-- TODO DPR: make the links into buttons -->
        <td><%= link_to page.title, page %></td>
        <td><%= link_to "Edit", edit_page_path(page) %></td>
        <td><%= delete_link page %></td>
      </tr>
    <% end %>
  </table>
  <div class="row">
    <div class="large-1 show-for-large"></div>
    <%= link_to "Create a new page", new_page_path, class: "button small-12 large-2 large-offset-9 columns" %>
  </div>
</section>
